__pychache__/
app/__pycache__/
app/__pycache__
app/tch_firefbase_account_keys.json
app/models/__pycache__
app/schemas/__pycache__
app/routes/__pycache__
alembic/__pycache__
alembic/versions/__pycache__
